* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 20px 70px;

}

header{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul{
    display: flex;
    gap: 20px;
}

header .logo img{
    width: 100px;
}

header .media{
    display: flex;
    gap: 20px;
}

header .btn{
    background-color: black;
    color: white;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 8px;
}
header .btn:hover{
    background-color: blueviolet;
}

.hero {
    width: 100%;
    height: 250px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    background-color: #f9f9f9;
  
}

.hero img {
    margin: 10px;
    border-radius: 5px;
    
}

.hero-content {
    position: absolute;
    top: 140px;
    left: 500px;
    
}

.btn1 {
    padding: 5px 5px;
    border: none;
    background-color: rgb(237, 193, 237);
    border-radius: 999px;
    font-size: 14px;
    color: rgb(129, 10, 111);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn1:hover {
    background-color: blueviolet;
    color: white;
}


.container1 {
    
    width: 680px;
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    background-color: #f9f9f9;
}

.card-image1 {
    margin: 10px;
    border-radius: 5px;
}
.card1{
    position: absolute;
    top: 15px;
    left: 320px;

}
.btn2 {
    padding: 5px 5px;
    border: none;
    background-color: #b5daed;
    border-radius: 999px;
    font-size: 14px;
    color: blue;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn2:hover {
    background-color: blue;
    color: white;
}

.container2 {
    
    width: 680px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 376px;
    left: 762px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    background-color: #f9f9f9;
}

.card-image2 {
    margin: 10px;
    border-radius: 5px;
}
.card2{
    position: absolute;
    top: 15px;
    left: 320px;
     

}

.btn3 {
    padding: 5px 5px;
    border: none;
    background-color: #a5eda1;
    border-radius: 999px;
    font-size: 14px;
    color: green;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn3:hover {
    background-color: green;
    color: white;
}

.btn0 {
    background-color: white;
    color: black;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    gap : 10px;
    margin: 20px;
}
.btn0:hover {
    background-color: black;
    color: white;
}

.category-section {
    text-align: center;
    padding: 30px;
}

.category-section h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.category-section p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.category-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 40px;
}

.category-tabs button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    border-radius: 999px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-tabs button:hover {
    background-color: blueviolet;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category-card {
    background-color: #f9f9f9;
    max-width: 250px;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.category-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.category-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #222;
}

.category-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px;
    color: #555;
    gap: 10px;
    align-items: center;
}

.badge0 {
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
    background-color: #e0f2fe;
    color: #0284c7; 
}
.badge0:hover {
    background-color: #0284c7;
    color: white;
}

.badge1 {
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
    background-color: #da8ed0;
    color: #6e0550; 
}
.badge1:hover {
    background-color: #eb0dac;
    color: white;
}

.badge2 {
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
    background-color: #6bac86;
    color: #05681c; 
}
.badge2:hover {
    background-color: #05681c;
    color: white;
}

.category-section .cat-btn{
    margin-top: 25px;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 3px;
}

.cat-btn:hover{
    background-color: black;
    color: white;
}

.newsletter{
    background: #f9f9f9;
    display: flex;
    justify-content: center;
}

.newsletter .news-section{
    width: 80%;
    background-color: white;
    display: flex;
    padding: 30px;
    margin: 25px;
    border-radius: 15px;
    justify-content: space-evenly;
}
.news-section form{
    align-content: center;
}

.news-section form input{
    height: 20px;
    width: 60%;
    margin-right: 10px;
}


.btn24 {
    background-color:black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn24:hover {
    background-color: blueviolet;   
    color: white;
}

.authors {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: left;
}

.author-meta{
    display: flex;
    justify-content: space-between;
}

.author-meta h3{
    margin: 0;
    margin-left: 100px;
}

.author-meta span{
    margin-right: 100px;
}

.authors hr {
    margin: 15px 0 25px;
    border: none;
    height: 1px;
    background-color: #ddd;
}

.author-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.author-card {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 15px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    min-width: 250px;
    gap: 15px;
}

.author-card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.author-card .name {
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 4px;
}

.author-card .desc {
    font-size: 14px;
    color: #666;
    margin: 0;
}


footer{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}

footer ul{
    display: flex;
    gap: 20px;
}

footer .back-btn{
    height: 20px;
    background-color: black;
    border: none;
    border-radius: 2px;
}

footer .back-btn i{
    color: white;
}